div{
    background-color: aquamarine;
}
/* form{
    background-color: brown;
} */
input{
    background-color: inherit;
}
button{
    background-color: inherit;
}
button:hover{
    background-color: red;
}